body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="radio"]:checked {
    display: none;
}

.pokemon-button {
    margin: 10px;
}
