body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/pokemon-field.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

input[type=radio]:checked + img {
    border: 3px solid red;
    border-radius: 50%;
    padding: 10px;
}

input[type=radio] + img {
    border: 3px solid black;
    border-radius: 50%;
}

.pokemon-choice {
    margin: 10px;
}

img {
    height: 300px;
    width: 300px;
}

#select-pokemon {
    border-radius: 50%;
    box-shadow: brown;
    size: 50px;
}