body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

.pokemon-choice {
    margin: 10px;
}

img {
    height: 200px;
    width: 200px;
}
